.container {
    max-width: 1000px;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.pageTitle {
    font-size: 2rem;
    font-weight: 700;
    color: #2c3e50;
}

.listSensors{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.linkWrapper {
    text-decoration: none;
    color: inherit;
}

.empty {
    font-style: italic;
    color: gray;
}
