.container {
    max-width: 1000px;
}



.dashboardHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}

.pageTitle {
    font-size: 3rem;
    font-weight: 700;
    color: #2c3e50;
    padding-left: 2rem;
}

.addButton {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 10px 18px;

    background: linear-gradient(135deg, #1eac52, #158e41);
    color: #ffffff;
    text-decoration: none;

    font-size: 16px;
    font-weight: 600;

    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(34, 197, 94, 0.35);

    transition:
            transform 0.15s ease,
            box-shadow 0.15s ease,
            filter 0.15s ease;
}

.addButton:hover {
    color: #0f172a;
    background: #2dcc67;
    transform: translateY(-2px);
    box-shadow: 0 12px 28px rgba(14, 81, 39, 0.45);
    filter: brightness(1.05);
}

.addButton:active {
    transform: translateY(0);
    box-shadow: 0 6px 14px rgba(34, 197, 94, 0.35);
}



.listInfos{
    display: flex;
    flex-direction: column;
}

.sensorList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
}

.graphsSection {
    margin-top: 24px;
}

.sensorName{
    font-size: 1.5rem;
    font-weight: 700;
    color: #2c3e50;
}

.graphCard {
    background: #f9f9f9;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}



/* Responsive : mobile */
@media (max-width: 600px) {
    .container {
        padding: 12px;
    }

    .pageTitle {
        font-size: 1.6rem;
    }
}
